In [204]:
import pandas as pd
import numpy as np

In [205]:
df = pd.read_csv('chipotle.tsv',sep='\t')

In [206]:
df.head(1)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39

In [207]:
df.tail(1)

,order_id,quantity,item_name,choice_description,item_price
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

1. Question: Check for missing values in each column (Order ID, Quantity, Item Name, Choice Description, Item Price). How should missing values be handled?

In [208]:
df.isnull().sum()

order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64

In [209]:
# We can drop the nan values using dropNa or we can use fill na to fill the values using mean of the data frame
# Using fillna to fill the values in th choice description

df['choice_description'].head(5)
# Filling the nan with "" empty String
df.fillna('',inplace=True)
df.isnull().sum()

order_id              0
quantity              0
item_name             0
choice_description    0
item_price            0
dtype: int64

2. Question: Verify the data types of each column. Do they align with their expected types, and should any adjustments be made?

In [210]:
df.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [228]:
# As we can see that item_Price is of type object we can change that to float values
# Replaced $ with '' and then changed to float
df['item_price'] = df['item_price'].str.replace('$',"").astype(float)

- Question: Identify and handle duplicated entries in the dataset. How might duplicates impact analysis, and what is the appropriate action?

In [239]:
# To check the total duplicated values in the dataFrame
df.duplicated().sum()

59

In [240]:
# Drop the duplicated values in the dataFrame
# As duplicate values are not useful in the dataFrame
df.drop_duplicates(inplace=True)

In [242]:
df.duplicated().sum()

0

- Question: Examine the Quantity and Item Price columns. Are there any inconsistencies or anomalies that need correction?

 -->